{% load staticfiles %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="author" content="Juan B Cabral - IATE-OAC - UNR">
<meta name="application-name" content="Carpyncho">
<meta name="description" content="Carpyncho Machine Learning for the VVV">
<meta name="keywords" content="carpyncho, machine learning, vvv, astronomy, data mining, ml, dm, kdd, vista">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'imgs/favicon.png' %}" type="image/png" />
