deptree==0.0.8
django-crispy-forms==1.9.0
django-downloadview==2.1.1
django-extensions==2.2.9
django-heroku==0.3.1
django-model-utils==4.0.0
django-queryset-csv==1.1.0
gunicorn==20.0.4
ipdb==0.13.2
jsonfield==3.1.0
mistune==0.8.4
pandas==1.0.3
pipdeptree==0.13.2
psycopg2-binary==2.8.5
pyquery==1.4.1
wheel==0.34.2
